<html>
<header id="hero-header" class="d-flex align-items-center justify-content-center text-center">
    
    <div class="w-100"
        style="background-image: url('assets/img/bg.jpg'); background-size: cover; background-position: center; min-height: 500px; ">

        <div class="container text-center">
            <h1>
                One Page Wonder
            </h1>
        </div>

        <div class="container text-center">
            <h2 class="subtitulo">
                Will Knock Your Socks Off
            </h2>
        </div>
        

    </div>

</header>
</html>